header {
    background-color: #36454F;
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px solid #FFBF00;
}

body {
    background-color: black;
    font-family: 'Times New Roman', Times, sans-serif;
}

form {
    background-color: black;
    color: #FFBF00;
    width: 600px;
    border: 15px solid #FFBF00;
    border-radius: 25px;
    padding: 50px;
    margin: 20px;
}
#description {
    height: 200px;
}

.logo {
    background-color: #FFBF00;
    color: black;
    font-size: 50px;
    width: 200px;
}

.register {
    margin: auto;
    width: 50%;
    padding-left: 25%;
}